@import url(./common.css);

.book-cover .cr-Tp-Rt .side::after,
.book-cover .cr-Bt-Rt .side::after {
  content: '';
  position: absolute;
  right: 0;
  width: calc(var(--book-cover-thick) * 0.6);
  height: 100%;
}
.book-cover .cr-Tp-Lt .side::after,
.book-cover .cr-Bt-Lt .side::after {
  content: '';
  position: absolute;
  left: 0;
  width: calc(var(--book-cover-thick) * 0.6);
  height: 100%;
}
.book-cover .cr-Tp-Rt .side,
.book-cover .cr-Tp-Lt .side {
  bottom: calc(-0.5 * var(--book-radius-corner-width));
}
.book-cover .cr-Bt-Rt .side,
.book-cover .cr-Bt-Lt .side {
  top: calc(-0.5 * var(--book-radius-corner-width));
  /* bottom: calc(var(--book-cover-border-radius) - (0.5 * var(--book-radius-corner-width))); */
}

.book-cover .cr-Tp-Rt .s0,
.book-cover .cr-Tp-Lt .s0 {
  transform: rotateX(0deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s1,
.book-cover .cr-Tp-Lt .s1 {
  transform: rotateX(12deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s2,
.book-cover .cr-Tp-Lt .s2 {
  transform: rotateX(24deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s3,
.book-cover .cr-Tp-Lt .s3 {
  transform: rotateX(36deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s4,
.book-cover .cr-Tp-Lt .s4 {
  transform: rotateX(48deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s5,
.book-cover .cr-Tp-Lt .s5 {
  transform: rotateX(60deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s6,
.book-cover .cr-Tp-Lt .s6 {
  transform: rotateX(72deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Tp-Rt .s7,
.book-cover .cr-Tp-Lt .s7 {
  transform: rotateX(84deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s0,
.book-cover .cr-Bt-Lt .s0 {
  transform: rotateX(270deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s1,
.book-cover .cr-Bt-Lt .s1 {
  transform: rotateX(282deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s2,
.book-cover .cr-Bt-Lt .s2 {
  transform: rotateX(294deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s3,
.book-cover .cr-Bt-Lt .s3 {
  transform: rotateX(306deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s4,
.book-cover .cr-Bt-Lt .s4 {
  transform: rotateX(318deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s5,
.book-cover .cr-Bt-Lt .s5 {
  transform: rotateX(330deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s6,
.book-cover .cr-Bt-Lt .s6 {
  transform: rotateX(342deg) translateZ(var(--book-cover-border-radius));
}
.book-cover .cr-Bt-Rt .s7,
.book-cover .cr-Bt-Lt .s7 {
  transform: rotateX(354deg) translateZ(var(--book-cover-border-radius));
}
/* 책 커버 끝 ---------------------------------------------------------------------- */

/* 책 옆면 시작 ---------------------------------------------------------------------- */

/* 책 옆면 끝 ---------------------------------------------------------------------- */

/* 책 페이지 시작 ---------------------------------------------------------------------- */

.binder__page[data-page-index='0'] .flag-tag {
  top: 6%;
}
.binder__page[data-page-index='1'] .flag-tag {
  top: 14%;
} /* 싱글투게더 */
.binder__page[data-page-index='3'] .flag-tag {
  top: 22%;
} /* 파인트잡 */
.binder__page[data-page-index='5'] .flag-tag {
  top: 30%;
} /* 오버톤즈 */
.binder__page[data-page-index='7'] .flag-tag {
  top: 38%;
} /* 도토리숲 */
.binder__page[data-page-index='9'] .flag-tag {
  top: 46%;
} /* 달력 */
.binder__page[data-page-index='11'] .flag-tag {
  top: 54%;
} /* 비엔시스템 */
.binder__page[data-page-index='13'] .flag-tag {
  top: 62%;
} /* 로또의요정 */
.flag-tag {
  display: flex;
  position: absolute;
  width: var(--flag-tag-width);
  height: var(--flag-tag-height);
  font-family: 'mapleStory-light';
  font-size: 1.6vmin;
  color: var(--grayScale-N5);
  right: calc(-0.42 * var(--flag-tag-width));
}
.upper.flag-tag {
  z-index: 2;
}
.flag-tag .flag-tag__white {
  order: 1;
  width: 58%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.flag-tag .flag-tag__name {
  order: 2;
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.post-list {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 3%;
}
.post-list > .post-it {
  width: var(--post-it-width);
  height: var(--post-it-height);
  color: var(--grayScale-N5);
  transform: rotate(-5deg);
  clip-path: polygon(0 0%, 10% 0, 100% 0, 100% 10%, 100% 80%, 80% 100%, 10% 100%, 0% 100%, 0% 10%);
  margin: 2%;
  padding: 3%;
}
.post-list > .post-it:nth-of-type(1) {
  order: 1;
}
.post-list > .post-it:nth-of-type(2) {
  order: 2;
}
.post-list > .post-it:nth-of-type(3) {
  order: 3;
}
.post-list > .post-it:nth-of-type(4) {
  order: 4;
}
.post-list > .post-it:nth-of-type(5) {
  order: 5;
}
.post-list > .post-it:nth-of-type(6) {
  order: 6;
}
.post-list > .post-it:nth-of-type(7) {
  order: 7;
}
.post-list > .post-it:nth-of-type(1):after {
  background-color: rgb(108, 95, 71);
}
.post-list > .post-it:nth-of-type(2):after {
  background-color: rgba(125, 167, 173, 1);
}
.post-list > .post-it:nth-of-type(3):after {
  background-color: rgba(101, 76, 76, 1);
}
.post-list > .post-it:nth-of-type(4):after {
  background-color: rgba(80, 82, 30, 1);
}
.post-list > .post-it:nth-of-type(5):after {
  background-color: rgba(164, 162, 146, 1);
}
.post-list > .post-it:nth-of-type(6):after {
  background-color: rgba(4, 2, 20, 1);
}
.post-list > .post-it:nth-of-type(7):after {
  /* background-color: rgba(64, 64, 96, 1); */
  background-color: rgb(112, 98, 111);
}
.post-list > .post-it:after {
  content: '';
  position: absolute;
  width: 20%;
  height: 20%;
  right: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.5) -0.1vmin 0.1vmin 8vmin 0.05vmin;
}

.post-it > a > h3 {
  font-family: 'pretendard-bold';
  font-size: 1em;
  line-height: 1.2;
  text-shadow: var(--grayScale-N3) 1px 0 5px;
}
.post-it > a > ol {
  list-style: circle;
  list-style-position: inside;
  font-family: 'pretendard-light';
  padding: 2% 0% 4% 2%;
}
.post-it > a > ol > li {
  font-size: 0.8em;
  line-height: 1.2;
}

.page-main {
  display: flex;
  position: relative;
  align-items: center;
  flex-flow: column;
  -ms-flex-flow: column;
  width: 100%;
  height: 100%;
}
.page-main h1 {
  font-size: 15px;
}
.page-main span {
  position: relative;
  height: 50%;
  width: 70%;
}
.page-bottom {
  display: flex;
  position: relative;
  flex-flow: row;
  -ms-flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5%;
}
.page-bottom span {
  width: calc(100% / 3);
  text-align: center;
}
.left.page-main {
  transform: rotateY(180deg);
}
.left.page-bottom {
  transform: rotateY(180deg);
}
/* 책 페이지 끝 ---------------------------------------------------------------------- */
/* 책 나가기 레이어 */
.bookActive .book-binder__box .exit-layer {
  background-color: var(--blackLayer-opacity);
}
/* 책 슬라이더 */
.book-binder__box > .book-slider {
  order: 2;
  display: none;
  position: relative;
  width: var(--book-width);
  height: calc((100% - var(--book-height)) / 2);
}
.book-binder__box > .active.book-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-slider .book-slider__wrap {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: fit-content;
}
.book-slider .range-slider {
  appearance: none;
  width: 100%;
  height: 1vmin;
  border-radius: 0.5vmin;
  background-color: var(--theme-text);
  outline: none;
}
.book-slider .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.6vmin;
  height: 2.6vmin;
  border-radius: 50%;
  background-color: var(--theme-main);
  cursor: pointer;
}

.book-slider .range-slider::-moz-range-thumb {
  appearance: none;
  width: 2.6vmin;
  height: 2.6vmin;
  border-radius: 50%;
  background-color: var(--theme-main);
  cursor: pointer;
}

/* 
    싱글투게더
    background-color: #31AF79;
    background-color: #EAC99D;
    background-color: #B8A292;
    background-color: rgb(49, 175, 121);
    background-color: rgb(234, 201, 157);
    background-color: rgb(184, 162, 146);
    
    파인트잡
    background-color: #7DBBAD;
    background-color: #493630;
    background-color: #B8A292;
    background-color: rgb(125, 187, 173);
    background-color: rgb(73, 54, 48);
    background-color: rgb(184, 162, 146);
    
    오버톤즈
    background-color: #794C4C;
    background-color: #E1CAA7;
    background-color: #E7DBC8; (50% E1CAA7)
    background-color: rgb(121, 76, 76);
    background-color: rgb(225, 202, 167);
    background-color: rgb(231, 219, 200);

    도토리숲
    background-color: #50661E;
    background-color: #543E23;
    background-color: #C1512C;
    background-color: rgb(80, 102, 30);
    background-color: rgb(84, 62, 35);
    background-color: rgb(193, 81, 44);

    달력
    background-color: #bf9589;
    background-color: #fff5f3;
    background-color: #c8c3b3;
    background-color: #859a9d;
    background-color: rgb(191, 149, 137);
    background-color: rgb(255, 245, 243);
    background-color: rgb(200, 195, 179);
    background-color: rgb(133, 154, 157);

    비엔시스템
    background-color: #040214;
    background-color: #B82120;
    background-color: #C35C5C;
    background-color: rgb(4, 2, 20);
    background-color: rgb(184, 33, 32);
    background-color: rgb(195, 92, 92);

*/
