@charset "UTF-8";
@import url(./common.css);
body {
  overflow-y: scroll;
  background-color: var(--grayScale-n1);
}
body::-webkit-scrollbar { /* 스크롤바의 너비 */
  width: 1vmin;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: var(--tailed-n0);
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--grayScale-n2);
}
body header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: var(--normal-speed);
  background-color: var(--blackLayer-opacity);
}
body header.hidden {
  transform: translateY(-6vh);
}
body header .header-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  width: var(--wrapper-width);
  height: inherit;
}
body header .header-bar .header__logo-box {
  display: flex;
  position: relative;
  justify-content: center;
  width: fit-content;
  height: inherit;
}
body header .header-bar .header__logo-box .logo-area {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
body header .header-bar .header__logo-box .logo-area > img {
  display: block;
  object-fit: contain;
}
body header .header-bar .header__menu-box {
  display: flex;
  position: relative;
  width: 100%;
  height: inherit;
  align-items: center;
  justify-content: center;
}
body header .header-bar .header__menu-box .header__menu-list {
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
body header .header-bar .header__menu-box .header__menu-list > li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 25%;
}
body header .header-bar .header__menu-box .header__menu-list > li > a {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}
body header .header-bar .header__menu-box .header__menu-list > li > a > span {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--normal-text-size);
  line-height: 1.4;
  color: var(--theme-text);
}
body header .header-bar .header__menu-box .header__menu-list > li > a:hover > span {
  color: var(--grayScale-n5);
}
body aside {
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 100;
  transition: var(--transition-normal) cubic-bezier(0, 0, 0.2, 1);
}
body aside .open-detail {
  display: none;
}
body aside .quick-sidebar {
  width: fit-content;
}
body aside .quick-sidebar .quick-sidebar__menu { /* 메뉴 리스트 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: var(--mini-text-size);
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-flow: column;
  color: var(--grayScale-n1);
}
body aside .quick-sidebar .quick-sidebar__menu .qMenu-toggle {
  display: none;
}
body aside .quick-sidebar .quick-sidebar__menu .qMenu-label {
  width: 11vmin;
  height: 11vmin;
  border-radius: 100%;
  order: 2;
  cursor: pointer;
  background-image: url(../icon/tailed-0.gif);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5% 0%;
  z-index: 10;
}
body aside .quick-sidebar .quick-sidebar__menu .qMenu-toggle:checked ~ .quick-sidebar__menu-list {
  display: flex;
}
body aside .quick-sidebar .quick-sidebar__menu .qMenu-toggle:checked ~ .quick-sidebar__menu-list .quick-menu {
  position: relative;
  top: unset;
  transform: unset;
}
body aside .quick-sidebar .quick-sidebar__menu-list {
  order: 1;
  display: none;
  position: relative;
  flex-flow: column;
  align-items: center;
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu { /* 퀵 메뉴 버튼 */
  width: 11vmin;
  height: 11vmin;
  border-radius: 100%;
  display: flex;
  position: absolute;
  flex-flow: column;
  align-items: center;
  margin: 5% 0%;
  transition: var(--normal-speed);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu:nth-of-type(1) { /* PROFILE 이동 버튼 */
  background-color: var(--tailed-n1);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu:nth-of-type(2) { /* PUBLISHING 이동 버튼 */
  background-color: var(--tailed-n2);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu:nth-of-type(3) { /* DESIGN 이동 버튼 */
  background-color: var(--tailed-n3);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu:nth-of-type(4) { /* SKILL 이동 버튼 */
  background-color: var(--tailed-n4);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu__btn {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu__btn img {
  width: 11vmin;
  height: 11vmin;
  border-radius: 100%;
  position: relative;
  z-index: 2;
  transition: var(--normal-speed);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu__btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity var(--normal-speed) 0s;
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu__btn:hover img {
  transform: rotateX(-90deg);
}
body aside .quick-sidebar .quick-sidebar__menu-list .quick-menu__btn:hover span {
  opacity: 1;
  transition: opacity var(--normal-speed) var(--fast-speed);
}
body aside .quick-sidebar .quick-sidebar__top { /* 탑 버튼 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;
}
body aside .quick-sidebar .quick-sidebar__top .qTop-toggle {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 6vmin;
  padding: 5% 0%;
  background-color: var(--grayScale-n5);
  border: 0.0625vmin solid var(--grayScale-n3);
  border-radius: 1vmin;
}
body aside .quick-sidebar .quick-sidebar__top .qTop-toggle span {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--normal-text-size);
  text-align: center;
  line-height: 1.2;
  color: var(--grayScale-n2);
}
body aside .quick-sidebar .quick-sidebar__top .qTop-toggle span::before {
  content: "";
  display: block;
  rotate: 180deg;
  height: var(--normal-text-size);
  margin: 0 auto;
  background-color: var(--grayScale-n2);
  mask: url(../icon/top-btn.svg) no-repeat center;
  -webkit-mask: url(../icon/top-btn.svg) no-repeat center;
}
body aside.detail-active { /* 프로젝트 디테일 오픈 시 */ }
body aside.detail-active .quick-sidebar {
  display: none;
}
body aside.detail-active .open-detail {
  display: unset;
}
body aside.detail-active .open-detail .tooltip { /* 퍼스트 버튼 */
  position: relative;
  padding: 5% 0%;
}
body aside.detail-active .open-detail .tooltip:hover .tooltip__left {
  opacity: 1;
}
body aside.detail-active .open-detail .tooltip__left {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.4;
  opacity: 0.5;
  width: 120px;
  text-align: center;
  color: var(--grayScale-n1);
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 50%;
  right: 110%;
  transform: translate(0, -50%);
  background-color: var(--tailed-n0);
  z-index: 1;
}
body aside.detail-active .open-detail .tooltip__left::after { /* 툴팁 화살표 기본 스타일 설정 */
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 6px;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  border-color: transparent transparent transparent var(--tailed-n0);
}
body aside.detail-active .open-detail .tooltip .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-flow: column;
  width: 6vmin;
  height: 6vmin;
  background-color: var(--grayScale-n5);
  border: 0.0625vmin solid var(--grayScale-n3);
  border-radius: 1vmin;
}
body aside.detail-active .open-detail .tooltip .toggle::before {
  content: "";
  display: block;
  width: 5vmin;
  height: var(--normal-text-size);
  background-color: var(--grayScale-n2);
}
body aside.detail-active .open-detail .tooltip .toggle.qhome-toggle::before {
  mask: url(../icon/home-btn.svg) no-repeat center;
  -webkit-mask: url(../icon/home-btn.svg) no-repeat center;
}
body aside.detail-active .open-detail .tooltip .toggle.qlink-toggle::before {
  mask: url(../icon/link-btn.svg) no-repeat center;
  -webkit-mask: url(../icon/link-btn.svg) no-repeat center;
}
body aside.detail-active .open-detail .tooltip .toggle.qfirst-toggle::before {
  mask: url(../icon/first-btn.svg) no-repeat center;
  -webkit-mask: url(../icon/first-btn.svg) no-repeat center;
}
body #portfolio { /* 포트폴리오(메인) */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}
body #portfolio section:not(.open) {
  justify-content: center;
}
body #portfolio section { /* 공통 섹션 */
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--grayScale-n1);
  color: var(--grayScale-n5);
  transition: var(--normal-speed);
}
body #portfolio section .wrap {
  position: relative;
  margin: 0 auto;
  width: var(--wrapper-width);
}
body #portfolio section .wrap h1 {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--large-text-size);
  line-height: 2.4;
}
body #portfolio section.profile { /* 프로필 섹션 */
  flex-flow: column;
}
body #portfolio section.profile h2 {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.4;
  line-height: 2;
}
body #portfolio section.profile .article-box {
  display: flex;
  flex-flow: row;
  position: relative;
  width: 100%;
  height: 75%;
  border: 1px solid var(--theme-text);
  overflow: hidden;
}
body #portfolio section.profile .article-box .about-box {
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: center;
  padding-left: 4%;
  margin: 0 auto;
  width: 40%;
  height: 100%;
}
body #portfolio section.profile .article-box .about-box > img {
  width: 50%;
}
body #portfolio section.profile .article-box .about-box .about-name strong {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.6;
  display: inline-block;
}
body #portfolio section.profile .article-box .about-box .about-name span {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.4;
  color: var(--theme-text);
  margin: 0% 2%;
}
body #portfolio section.profile .article-box .about-box .about-info ol li span:nth-of-type(1) {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--normal-text-size);
  line-height: 1.4;
  display: inline-block;
  width: 20%;
  margin: 0% 2%;
}
body #portfolio section.profile .article-box .about-box .about-info ol li span:nth-of-type(2) {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: var(--small-text-size);
  line-height: 1.4;
  color: var(--theme-text);
}
body #portfolio section.profile .article-box .history-box {
  position: relative;
  border: 1px solid var(--theme-text);
  width: 60%;
  height: 80vmin;
  overflow-y: scroll;
}
body #portfolio section.profile .article-box .history-box::-webkit-scrollbar { /* 스크롤바의 너비 */
  width: 1vmin;
}
body #portfolio section.profile .article-box .history-box::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: var(--tailed-n0);
  border-radius: 10px;
}
body #portfolio section.profile .article-box .history-box::-webkit-scrollbar-track {
  background-color: var(--grayScale-n2);
}
body #portfolio section.profile .article-box .history-box ol.experience-list,
body #portfolio section.profile .article-box .history-box ol.education-list { /* 경험 & 교육 리스트 */
  display: grid;
  position: relative;
  width: 100%;
  row-gap: 1vmin;
  padding: 1%;
}
body #portfolio section.profile .article-box .history-box ol.experience-list > li,
body #portfolio section.profile .article-box .history-box ol.education-list > li {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: inherit;
}
body #portfolio section.profile .article-box .history-box ol.experience-list > li span,
body #portfolio section.profile .article-box .history-box ol.education-list > li span {
  padding: 0.5%;
}
body #portfolio section.profile .article-box .history-box ol.experience-list > li span:nth-of-type(1),
body #portfolio section.profile .article-box .history-box ol.education-list > li span:nth-of-type(1) { /* 기간 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.4;
  grid-area: 1/1/2/4;
}
body #portfolio section.profile .article-box .history-box ol.experience-list > li span:nth-of-type(2),
body #portfolio section.profile .article-box .history-box ol.education-list > li span:nth-of-type(2) { /* 기관 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: var(--small-text-size);
  line-height: 1.4;
  position: relative;
  text-align: center;
  grid-area: 1/4/3/6;
}
body #portfolio section.profile .article-box .history-box ol.experience-list > li span:nth-of-type(2)::after,
body #portfolio section.profile .article-box .history-box ol.education-list > li span:nth-of-type(2)::after {
  content: "";
  position: absolute;
  left: 0;
  height: 75%;
  width: 100%;
  border-left: 0.1px solid var(--theme-text-op);
}
body #portfolio section.profile .article-box .history-box ol.experience-list > li span:nth-of-type(3),
body #portfolio section.profile .article-box .history-box ol.education-list > li span:nth-of-type(3) { /* 내용 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: var(--small-text-size);
  line-height: 1.4;
  grid-area: 2/1/3/4;
  color: var(--theme-text);
}
body #portfolio section.web-publishing { /* 웹 퍼블리싱 섹션 */ }
body #portfolio section.web-publishing:not(.open) {
  background-image: url(../images/publishing-0.png);
  background-color: var(--grayScale-n4);
}
body #portfolio section.web-publishing:not(.open)::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--blackLayer-opacity);
}
body #portfolio section.web-publishing.open {
  display: flex;
  flex-flow: row;
  position: relative;
  background-image: unset;
  background-color: var(--grayScale-n1);
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100vh;
}
body #portfolio section.web-publishing.open::-webkit-scrollbar { /* 스크롤바의 너비 */
  height: 0.6vmin;
}
body #portfolio section.web-publishing.open::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: var(--tailed-n0);
  border-radius: 10px;
}
body #portfolio section.web-publishing.open::-webkit-scrollbar-track {
  background-color: var(--grayScale-n2);
}
body #portfolio section.web-publishing.open .publishing-detail-box {
  display: flex;
  position: relative;
  flex-flow: row;
  width: fit-content;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description { /* 디테일 설명 */
  width: 50vw;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: var(--inner-wrapper-width);
  height: 100%;
  padding: 3% 0;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > .subject { /* 주제 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--regular-text-size);
  line-height: 1.4;
  color: var(--theme-text);
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > .title { /* 프로젝트 제목 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--large-text-size);
  line-height: 2.4;
  color: var(--grayScale-n5);
  border: 1px solid var(--grayScale-n5);
  text-indent: 1vw;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul { /* 프로젝트 설명 */
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 24vmin;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul > li {
  display: flex;
  position: relative;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul > li > span {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--normal-text-size);
  line-height: 1.4;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul > li > span:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.6vmin;
  height: 5.4vmin;
  border: 1px solid var(--grayScale-n5);
  margin-right: 3vmin;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul > li > span:nth-of-type(2) {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  padding: 0 1%;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul > li:nth-of-type(2) { /* 사용 툴 뱃지 */ }
body #portfolio section.web-publishing.open .publishing-detail-box .main-description > .wrap > ul > li:nth-of-type(2) img {
  height: 3vmin;
  margin-right: 1%;
}
body #portfolio section.web-publishing.open .publishing-detail-box .main-image img {
  display: block;
  position: relative;
  height: 100%;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description { /* 디테일 설명 */ }
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  height: 100%;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap > .contents {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap > .contents .col {
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  margin: 0 1%;
  padding: 0 3%;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap > .contents .col > img {
  display: block;
  position: relative;
  max-width: 75vw;
  width: auto;
  max-height: 42vh;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap > .contents .col > p {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--regular-text-size);
  line-height: 1.4;
  width: 100%;
  color: var(--theme-text);
  padding: 3% 0;
  text-align: center;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap > .contents .row {
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  width: fit-content;
}
body #portfolio section.web-publishing.open .publishing-detail-box .sub-description > .wrap > .contents .row > p {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--regular-text-size);
  line-height: 1.4;
  width: 18vh;
  color: var(--theme-text);
  padding: 0 3%;
  text-align: center;
}
body #portfolio section.web-publishing .slide-box {
  width: 100%;
  height: 80%;
  width: 46vw;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
body #portfolio section.web-publishing .slide-box .project-list { /* 프로젝트 리스트 (영화 필름 띠) */
  display: flex;
  position: absolute;
  width: inherit;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film { /* 프로젝트 (영화 필름 칸) */
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  width: auto;
  cursor: pointer;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film > ul {
  width: auto;
  height: 8vmin;
  display: flex;
  flex-flow: row;
  align-items: center;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film > ul > li { /* 필름 사이드 모양 생성 */
  --window-ml: 30%;
  --window-mt: 25%;
  --window-mb: 75%;
  --window-mr: 70%;
  clip-path: polygon(0% 0%, 0% 100%, var(--window-ml) 100%, var(--window-ml) var(--window-mt), var(--window-mr) var(--window-mt), var(--window-mr) var(--window-mb), var(--window-ml) var(--window-mb), var(--window-ml) 100%, 100% 100%, 100% 0%);
  width: 100%;
  height: 100%;
  background-color: var(--grayScale-n1);
  box-shadow: 0px -1vmax 0px 1vmax var(--grayScale-n1);
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item { /* 프로젝트 아이템 */
  width: 46vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--grayScale-n2);
  border: 1vmin solid var(--grayScale-n1);
  border-top: 0;
  border-bottom: 0;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item > div {
  width: 100%;
  display: flex;
  position: relative;
  flex-flow: column;
  background-color: var(--grayScale-n1);
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item > div:nth-of-type(1) {
  justify-content: center;
  height: 50vh;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item > div:nth-of-type(1) > img { /* 프로젝트 이미지 */
  width: auto;
  height: 100%;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item > div:nth-of-type(2) {
  padding: 1%;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item > div:nth-of-type(2) > h3 { /* 프로젝트 제목 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.4;
}
body #portfolio section.web-publishing .slide-box .project-list .project-film .project-item > div:nth-of-type(2) > p { /* 사용 툴 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.4;
  width: 100%;
  height: auto;
  color: var(--theme-text);
}
body #portfolio section.web-publishing .slide-box .pagination { /* 프로젝트 슬라이드 페이지네이션 */ }
body #portfolio section.web-publishing .slide-box .pagination-box {
  padding: 1% 0%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}
body #portfolio section.web-publishing .slide-box .pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}
body #portfolio section.web-publishing .slide-box .pagination-list > li {
  display: inline-block;
  width: 1.8vmin;
  height: 1.8vmin;
  margin: auto 1.2vmin;
  border-radius: 50%;
  background-color: var(--grayScale-n5);
  cursor: pointer;
}
body #portfolio section.web-publishing .slide-box .pagination-list > li.active { /* 프로젝트 슬라이드 페이지네이션 액티브 */
  opacity: 1;
  width: 4.8vmin;
  border-radius: 2.4vmin;
  background-color: var(--tailed-n0);
}
body #portfolio section.web-publishing .direction { /* 슬라이드 버튼 */
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8vmin;
  font-weight: 900;
  color: var(--theme-text);
  cursor: pointer;
  text-shadow: 0 1px 0 var(--grayScale-n1), 0 2px 0 var(--grayScale-n1), 0 3px 0 var(--grayScale-n1), 0 4px 0 var(--grayScale-n1), 0 5px 0 var(--grayScale-n1), 0 6px 0 var(--grayScale-n1), 0 7px 0 var(--grayScale-n1), 0 8px 0 var(--grayScale-n1), 0 9px 0 var(--grayScale-n1), 0 50px 30px rgba(0, 0, 0, 0.3);
}
body #portfolio section.web-publishing .direction.prev-left { /* 왼쪽/이전 버튼 */
  left: 0;
}
body #portfolio section.web-publishing .direction.next-right { /* 오른쪽/다음 버튼 */
  right: 0;
}
body #portfolio section.design { /* 디자인 섹션 */ }
body #portfolio section.design .slide-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}
body #portfolio section.design .slide-box .project-list { /* 프로젝트 리스트 (카드 모양) */
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  user-select: none;
  overflow-x: scroll;
}
body #portfolio section.design .slide-box .project-list::-webkit-scrollbar { /* 스크롤바의 너비 */
  height: 0.8vmin;
}
body #portfolio section.design .slide-box .project-list::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: var(--tailed-n0);
  border-radius: 10px;
}
body #portfolio section.design .slide-box .project-list::-webkit-scrollbar-track {
  background-color: var(--grayScale-n2);
}
body #portfolio section.design .slide-box .project-list li { /* 프로젝트 리스트 (카드 모양) */
  margin: auto 1%;
}
body #portfolio section.design .slide-box .project-list li .project-item {
  width: 45vmin;
  height: 60vmin;
  padding: 1vw;
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: center;
  background-color: var(--grayScale-n2);
  width: 38vw;
  height: 70vh;
  box-shadow: 0px 0px 3px 4px var(--grayScale-n3);
  padding: 0% 5%;
}
body #portfolio section.design .slide-box .project-list li .project-item > div {
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: space-evenly;
  background-color: var(--grayScale-n2);
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(1) { /* 디자인 타이틀 & 툴 */
  height: 18%;
  justify-content: center;
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(1) > h3 { /* 디자인 타이틀 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.4;
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(1) > span { /* 툴 뱃지 리스트 */
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  height: 35%;
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(1) > span > img {
  height: 2.6vmin;
  margin-right: 1%;
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(2) { /* 디자인 메인 이미지 */
  height: 64%;
  overflow: hidden;
  background-color: var(--grayScale-n1);
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(2) > img {
  width: 100%;
  height: auto;
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(3) { /* 디테일 버튼 */
  height: 18%;
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(3) button.design-modal-btn {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.4;
  z-index: 20;
  width: 12vmin;
  height: 5vmin;
  margin: auto 0;
  cursor: pointer;
  color: var(--grayScale-n4);
  border: 1px solid var(--grayScale-n5);
}
body #portfolio section.design .slide-box .project-list li .project-item > div:nth-of-type(3) button.design-modal-btn:hover {
  color: var(--grayScale-n5);
}
body #portfolio section.skill { /* 스킬 섹션 */ }
body #portfolio section.skill .skill-box {
  width: 100%;
  height: 80%;
}
body #portfolio section.skill .skill-box .skill-list { /* 스킬 리스트 */
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
body #portfolio section.skill .skill-box .skill-list li { /* 스킬 아이템 */
  display: flex;
  position: relative;
  flex-flow: row;
  width: 90%;
  height: 5vmin;
  margin: 0.5vmin 0;
  overflow: hidden;
}
body #portfolio section.skill .skill-box .skill-list li .skill-badge { /* 스킬 마크 */
  z-index: 1;
}
body #portfolio section.skill .skill-box .skill-list li .skill-level {
  position: absolute;
  left: 0.2vmin;
  width: 85%;
  height: 100%;
}
body #portfolio section.skill .skill-box .skill-list li .skill-level__progress { /* 스킬 진행도 */
  position: absolute;
  height: 100%;
  width: 0%;
  border-top-right-radius: 1.5vmin;
  border-bottom-right-radius: 1.5vmin;
  transition: 2s;
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(1) .skill-level__progress { /* HTML5 */
  background: linear-gradient(to right, rgba(227, 79, 38, 0.5333333333), #e34f26);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(2) .skill-level__progress { /* CSS3 */
  background: linear-gradient(to right, rgba(21, 115, 182, 0.5333333333), #1572b6);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(3) .skill-level__progress { /* Sass */
  background: linear-gradient(to right, rgba(204, 102, 153, 0.5333333333), #CC6699);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(4) .skill-level__progress { /* JavaScript */
  background: linear-gradient(to right, rgba(247, 223, 30, 0.5333333333), #f7df1e);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(5) .skill-level__progress { /* React */
  background: linear-gradient(to right, rgba(97, 218, 251, 0.5333333333), #61DAFB);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(6) .skill-level__progress { /* jQuery */
  background: linear-gradient(to right, rgba(7, 105, 173, 0.5333333333), #0769ad);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(7) .skill-level__progress { /* Python */
  background: linear-gradient(to right, rgba(55, 118, 171, 0.5333333333), #3776ab);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(8) .skill-level__progress { /* Photoshop */
  background: linear-gradient(to right, rgba(49, 168, 255, 0.5333333333), #31a8ff);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(9) .skill-level__progress { /* Illustrator */
  background: linear-gradient(to right, rgba(255, 154, 0, 0.5333333333), #ff9a00);
}
body #portfolio section.skill .skill-box .skill-list li:nth-of-type(10) .skill-level__progress { /* Figma */
  background: linear-gradient(to right, rgba(242, 78, 30, 0.5333333333), #f24e1e);
}
body #portfolio section.skill .skill-box .skill-list li .skill-percent { /* 진행도 숫자 퍼센트 */
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  color: var(--grayScale-n5);
  height: inherit;
  width: 15%;
}
body #portfolio section.skill .skill-box .skill-list li .skill-percent__binder {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--regular-text-size);
  line-height: 1.4;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  text-shadow: 0.5px 0.5px 0 var(--grayScale-n2);
}
body .designModal__layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
body .designModal__layer.active {
  display: unset;
}
body .designModal__layer .exit-layer {
  width: 100%;
  height: 100%;
  background-color: var(--blackLayer-opacity);
}
body .designModal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #fff;
}
body .designModal__window .window-body {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-flow: column;
  overflow-y: scroll;
}
body .designModal__window .window-body::-webkit-scrollbar { /* 스크롤바의 너비 */
  width: 0vmin;
}
body .designModal__window .window-body > img { /* 메인 이미지 */
  display: block;
  width: 100%;
  height: auto;
}
body .designModal__window .window-body .window__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: var(--wrapper-width);
}
body .designModal__window .window-body .window__inner .head-title { /* 타이틀과 툴 */
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 8% 5% 0% 5%;
}
body .designModal__window .window-body .window__inner .head-title > h2 { /* 타이틀 */
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--large-text-size);
  line-height: 2.4;
  line-height: 1.8;
}
body .designModal__window .window-body .window__inner .head-title > span { /* 툴 목록 */
  margin: 0 auto;
}
body .designModal__window .window-body .window__inner .head-title > span > img {
  height: 3vmin;
}
body .designModal__window .window-body .window__inner .middle-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  padding: 0% 5%;
  margin: 5% 0%;
}
body .designModal__window .window-body .window__inner .middle-description > h3 {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.4;
  font-weight: 500;
}
body .designModal__window .window-body .window__inner .middle-description > p {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--regular-text-size);
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  word-break: keep-all;
  padding: 2% 10%;
}
body .designModal__window .window-body .window__inner .middle-description > span {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--normal-text-size);
  line-height: 1.4;
  background-color: var(--tailed-n0);
  padding: 1% 3%;
}
body .designModal__window .window-body .window__inner .bottom-contents {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}
body .designModal__window .window-body .window__inner .bottom-contents > img {
  width: 100%;
}
body .designModal__window .window-body .window__inner .bottom-contents > iframe {
  width: 48vw;
  height: 27vw;
}
body .designModal__window .window-body .window__inner .bottom-contents .link-box {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  padding: 5% 0;
}
body .designModal__window .window-body .window__inner .bottom-contents .link-box > a {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #F24E1E;
  width: 30%;
  height: 50%;
  border-radius: 1vh;
}
body .designModal__window .window-body .window__inner .bottom-contents .link-box > a > span {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--normal-text-size);
  line-height: 1.4;
  display: flex;
  position: relative;
  justify-content: space-between;
  line-height: var(--normal-text-size);
  word-break: keep-all;
  text-align: center;
  color: #fff;
}
body .designModal__tool {
  position: absolute;
  top: 0;
  right: 25%;
  transform: translateX(11vmin);
  width: 11vmin;
  background-color: var(--theme-text);
}
body .designModal__tool > .close {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 100%;
  height: 100%;
  color: var(--grayScale-n2);
}
body .designModal__tool > .close:hover, body .designModal__tool > .close:focus {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}