@charset "UTF-8";
@import url("./styleSet.css");
textarea {width: 100%; resize: none;}
.modal-inquiry input {
    
}
.modal-inquiry input::placeholder {
    font-size: 16px;
    color: #888;
}
.modal-inquiry input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #888;
}
.modal-inquiry input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #888;
    opacity:  1;
}
.modal-inquiry input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #888;
    opacity:  1;
}
.modal-inquiry input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #888;
}
select {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
/* ---------- */
/* 모달 팝업 스타일 */
.modal-inquiry {
    display: none; /* 초기에는 숨김 처리 */
    position: fixed; /* 화면에 고정 */
    z-index: 999; /* 다른 요소보다 앞에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤바 생성 */
    background-color: rgba(0, 0, 0, 0.4); /* 배경색과 투명도 설정 */
}
.modal-inquiry.active {
    display: block;
}

/* inquiry modal ---------------------------------------- */
.inquiry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(140deg, var(--color-navy-abs) 0%, var(--color-scarlet) 70%, var(--color-red) 100%);                
    color: var(--color-n5-abs);
    width: 100%;
    font-size: 18px;
    height: 3em;
    line-height: 3em;  /* 해당 셀렉터에 정한 폰트 사이즈의 배수 만큼 높이 */
    padding: 0 0.5em;
    text-indent: 0.5em;
    border-start-start-radius: 0.5em;
    border-start-end-radius: 0.5em;
}
.modal-inquiry__window {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    min-width: 500px;
    width: 100%; /* 팝업창 크기 조정 */
    max-width: 30%;
    height: auto;
    max-height: 80%;
    border-radius: 5px;
}
.inquiry-body {
    position: relative;
    background-color: var(--color-n5-abs);
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 0.8em;  /* 해당 셀렉터에 정한 폰트 사이즈의 배수 만큼 패딩 */
    border-end-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
}
.inquiry-body__inner {
    position: relative;
    margin: 0 auto;
    padding: 2% 0;
    width: 90%;
    height: 100%;
}
.inquiry-category {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.inquiry-category__selector {
    font-family: 'Pretendard-medium';
    color: var(--color-n1-abs);    
    position: relative;
    text-indent: 0.5em;
    font-size: 16px;
    width: 100%;
    height: 2.4em;
    text-align: left;
    background-color: var(--color-white-abs);
}
.inquiry-category__selector span {                
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(calc(-2.4em), -50%);
    -webkit-transform: translate(calc(-2.4em), -50%);
    -moz-transform: translate(calc(-2.4em), -50%);
    width: fit-content;
    height: fit-content;
}

.inquiry-category__selector span::after{
    content: '';
    display: block;
    position: relative;
    width: 1.5em;
    height: 1em;
    transform: rotate(var(--toggle-degree));
    -webkit-transform: rotate(var(--toggle-degree));
    -moz-transform: rotate(var(--toggle-degree));
    /* transition: 0.2s; */
    background-image: url(../img/arrow_dropdown.png);
    background-repeat:no-repeat;
    background-size: 1.2em auto;
    background-position: 100%;
}
.inquiry-category__list {
    z-index: 1;
    display: none;
    flex-flow: column;
    position: absolute;
    font-size: 16px;
    top: 2.4em;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    background-color: var(--color-white-abs);
    width: calc(100% - 0.4em);
    border-collapse: collapse;
}
.inquiry-category__list.active {
    display: flex;
}
.inquiry-category__index {
    color: var(--color-white-abs);
    background-color: var(--color-navy-abs);
}
.inquiry-category__index,
.inquiry-category__item {
    z-index: 2;
    display: inherit;
    height: 2.2em;
    line-height: 2.2em;
    border: 1px solid var(--color-n4);
    border-bottom: none;
}
ul.inquiry-category__list li:last-child {
    border-bottom: 1px solid var(--color-n4);
}
li.inquiry-category__index {    
    text-indent: 0.5em;    
}
li.inquiry-category__item {
    text-indent: 1em;
}
li.inquiry-category__item:hover {
    cursor: pointer;
    background-color: var(--color-scarlet-hov);
}
form.inquiry-form {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
}
form.inquiry-form label {
    font-family: "Pretendard-medium";
    font-size: 16px;
    color: var(--color-n1-abs);
    height: 1.5;
    line-height: 1.5;
    text-indent: 0.5em;
}
.inquiry-email,
.inquiry-title,
.inquiry-textarea,
.inquiry-category__selector {
    background-color: var(--color-white-abs);
    margin-bottom: 20px;
    border: 1px solid var(--color-n4);
    border-radius: 0.3rem;
    font-family: "Pretendard-medium";
    font-size: 16px;
}
.inquiry-textarea {
    display: block;    
    padding: 0.8em;
    line-height: 1.5em;
    height: 12em;
    margin-bottom: 30px;
    overflow-y: auto;
}
.inquiry-email,
.inquiry-title {
    text-indent: 0.8em;
    height: 2.4em;
    line-height: 2em;
}
.inquiry-submit {
    position: relative;
    font-family: 'pretendard-bold';
    font-size: 18px;
    width: 80%;
    height: 3em;
    line-height: 3em;
    border-radius: 0.3rem;
    color: var(--color-n5-abs);
    border: none;
    animation-timing-function: ease-in;
    background-color: var(--color-red);
    opacity: 0.8;
    box-shadow: 5.6px 6.1px 20px rgba(0, 0, 0, 0.15), 10px 11px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: 0.3s;
}

.inquiry-submit:hover {
    background-color: var(--color-red);
    opacity: 1;
}

.inquiry-body__inner .confirm-btn-wrap {
    position: relative;
    width: 100%;
    height: 20%;
}
.inquiry-body__inner .confirm-btn-wrap > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 15%;
    height: 60%;
}
.inquiry-body p {
    word-break: break-all;
}
.close {
    display: flex;
    justify-content: center;
    color: var(--color-n5-abs);    
    align-items: center;
    font-family: "Pretendard-medium";
    font-size: 30px;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
}
.close:hover, .close:focus {
    font-family: "Pretendard-bold";
    color: var(--color-white-abs);
    text-decoration: none;
    cursor: pointer;                
}