@import url(./common.css);
li.phantom-line hr {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px dashed rgba(255, 0, 0, 1);
  border-spacing: 5px;
}
.room__box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  perspective: 100vmax;
  transform-style: preserve-3d;
  width: 100vw;
  /* height: 100vh; */
}
.room__box .scene {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.room {
  /* 좌면 */
  transform-origin: left;
  transform: rotateY(90deg) translateZ(100vw);

  /* 좌면 등각투상도 상단 */
  transform-origin: left;
  transform: rotateX(-45deg) rotateY(90deg) translateY(85vh) translateZ(100vw);

  /* 후면 */
  transform-origin: center;
  transform: rotateY(-180deg) translateZ(100vw);

  /* 후면 등각투상도 상단 */
  transform-origin: center;
  transform: rotateX(-25deg) rotateY(-180deg) translateY(8vh) translateZ(100vw);

  /* 우면 등각투상도 상단 */
  transform-origin: right;
  transform: rotateX(-45deg) rotateY(-90deg) translateY(85vh) translateZ(100vw);

  /* 전면 등각투상도 상단 */
  transform-origin: center;
  transform: rotateX(-45deg) translateY(85vh);

  /* 전면 */
  transform-origin: center;
  transform: rotateX(0deg) translateY(0vh);

  /* 우면 */
  transform-origin: right;
  transform: translateX(38vw) rotateY(-90deg) translateZ(100vw);

  transform-origin: center;
  transform: rotateX(-30deg) rotateY(-20deg) translateZ(100vw);

  transform: rotateX(-10deg) rotateY(10deg) translateX(-30vw) translateY(10vh) translateZ(150vh);
}
.room {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: rotateX(0deg);
}
.room.load {
  transform: rotateX(-10deg) rotateY(10deg) translateX(-20vw) translateY(5vmin) translateZ(100vmin);
  transform: rotateX(-10deg) rotateY(10deg) translateX(-20vw) translateY(20vmin) translateZ(60vmin);
  transform: rotateX(-10deg) rotateY(10deg) translateX(-25vw) translateY(20vmin) translateZ(50vmin);
  /* transform: rotateX(-10deg) rotateY(10deg) translateX(-25vw) translateY(-20vmin) translateZ(250vmin); */
}
.room.bookActive {
  transform: rotateX(0deg);
}
.room.monitorActive {
  transform: rotateX(0deg) translateX(calc(-0.5 * var(--table-width) - 0.025 * var(--monitor-display-width)))
    translateY(calc(1 * var(--monitor-display-height) * -0.2 - var(--monitor-stand-thick)))
    translateZ(calc(200vmax - (var(--table-height) + var(--monitor-display-height))));
}
.room__face {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  border: 1px solid var(--color-navy1);
}
.room__face--top {
  width: 100vw;
  height: 100vw;
  transform-origin: top;
  transform: translateY(-50vh) rotateX(-90deg);
}
.room__face--bottom {
  width: 150vw;
  height: 100vw;
  transform-origin: bottom;
  transform: rotateX(90deg) translateX(-25vw) translateZ(calc(100vw - 100vh));
}
.room__face--back {
  width: 150vw;
  height: 150vh;
  transform-style: preserve-3d;
  transform: translateX(-25vw) translateY(-50vh) translateZ(-100vw);
}
.room__face--back::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url(../images/KakaoTalk_20230820_133852805_066.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  transform: translateZ(calc(-1 * var(--window-frame-thick)));
}
.room__face--back::after {
  transform-style: preserve-3d;
  content: '';
  width: inherit;
  height: inherit;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    var(--window-ml) 100%,
    var(--window-ml) var(--window-mt),
    var(--window-mr) var(--window-mt),
    var(--window-mr) var(--window-mb),
    var(--window-ml) var(--window-mb),
    var(--window-ml) 100%,
    100% 100%,
    100% 0%
  );
}
.window__box {
  display: flex;
  flex-flow: row;
  position: absolute;
  transform-style: preserve-3d;
  top: var(--window-mt);
  left: var(--window-ml);
  width: calc(var(--window-mr) - var(--window-ml));
  height: calc(var(--window-mb) - var(--window-mt));
}
.window__face {
  position: relative;
  transform-style: preserve-3d;
  width: 50%;
  height: 100%;
}
.window__frame {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    var(--window-frame-thick) 100%,
    var(--window-frame-thick) var(--window-frame-thick),
    calc(100% - var(--window-frame-thick)) var(--window-frame-thick),
    calc(100% - var(--window-frame-thick)) calc(100% - var(--window-frame-thick)),
    var(--window-frame-thick) calc(100% - var(--window-frame-thick)),
    var(--window-frame-thick) 100%,
    100% 100%,
    100% 0%
  );
}
.window__frame.window__frame--front {
  border: 1px solid var(--color-navy1);
  background-color: var(--theme-text);
  background-image: url(../images/woodenV.png);
}
.window__frame.window__frame--back {
  transform: translateZ(calc(-1 * var(--window-frame-thick)));
  background-color: rgb(108, 70, 35);
}
.room__face--left {
  height: 150vh;
  transform-origin: left;
  transform: translateX(-25vw) translateY(-50vh) rotateY(90deg);
}
.room__face--right {
  height: 150vh;
  transform-origin: right;
  transform: translateX(25vw) translateY(-50vh) rotateY(-90deg);
}
.phantom-line__box {
  display: flex;
  flex-flow: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: rotateZ(90deg);
  width: 100vh;
  height: 100vw;
}
.phantom-line {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.room__face--top .phantom-line__box,
.room__face--bottom .phantom-line__box {
  width: 100%;
  height: 100%;
}
.room__face--front {
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.room__face--left {
  background: rgb(39, 55, 77);
}
.room__face--right {
  background: rgb(39, 55, 77);
  background: linear-gradient(20deg, rgba(39, 55, 77, 1) 0%, rgba(82, 109, 130, 1) calc(100% - var(--window-mb)));
}
.room__face--back::after {
  background: var(--theme-text);
  background: linear-gradient(0deg, rgba(82, 109, 130, 1) 0%, var(--theme-text) 58%);
}
.room__face--bottom {
  background-image: url(../images/woodenV.png);
  background-size: 25% 50%;
}
.room__face--top {
  background-image: url(../images/SPAATL_1.png);
}
