@import url(./common.css);

$header-area: (
    header-height: 6vh,
);
$sidebar-icon-size: (
    square-size: 11vmin,
    round-percent: 100%,
);
$qMenu-gap: (
    updown-gap: 5% 0%,
);
$profile-divide: (
    about-width: 40%,
    history-width: 60%,
);
$skill-color: (
    html5: linear-gradient(to right, #e34f2688, #e34f26),
    css3: linear-gradient(to right, #1573b688, #1572b6),
    sass: linear-gradient(to right, #CC669988, #CC6699),
    javascript: linear-gradient(to right, #f7df1e88, #f7df1e),
    react: linear-gradient(to right, #61DAFB88, #61DAFB),
    jquery: linear-gradient(to right, #0769ad88, #0769ad),
    python: linear-gradient(to right, #3776ab88, #3776ab),
    photoshop: linear-gradient(to right, #31a8ff88, #31a8ff),
    illustrator: linear-gradient(to right, #ff9a0088, #ff9a00),
    figma: linear-gradient(to right, #f24e1e88, #f24e1e),
);

@mixin set-icon {
    width: map-get($map: $sidebar-icon-size, $key: square-size);
    height: map-get($map: $sidebar-icon-size, $key: square-size);
    border-radius: map-get($map: $sidebar-icon-size, $key: round-percent);
}

@mixin mini-text-center {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: var(--mini-text-size);
    text-align: center;
    line-height: 1.2;
}

@mixin normal-text-center {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: var(--normal-text-size);
    text-align: center;
    line-height: 1.2;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin wp-project-box {
    width: 70vmin;
    height: fit-content;
}
@mixin dg-project-box {
    width: 45vmin;
    height: 60vmin;
    padding: 1vw;
}
@mixin contentBox-size {
    width: 100%;
    height: 75%;
}
@mixin main-title {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: var(--large-text-size);
    line-height: 2;
}
@mixin strong {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: var(--medium-text-size);
    line-height: 1.6;
}
@mixin sub-title {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: var(--medium-text-size);
    line-height: 1.4;
}
@mixin subject-title {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: var(--regular-text-size);
    line-height: 1.4;
}
@mixin sub-subject {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: var(--normal-text-size);
    line-height: 1.4;
}
@mixin subject-sub-title {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: var(--regular-text-size);
    line-height: 1.4;
}
@mixin sub-tag {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: var(--small-text-size);
    line-height: 1.4;
}
@mixin sub-description {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: var(--small-text-size);
    line-height: 1.4;
}
@mixin small-description {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: var(--small-text-size);
    line-height: 1.4;
}
body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: var(--grayScale-n1);
    header {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: map-get($map: $header-area, $key: header-height);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: var(--normal-speed);
        &.hidden {
            transform: translateY(-1 * map-get($map: $header-area, $key: header-height));
        }
        .header-bar {
            display: flex;
            position: relative;
            justify-content: space-between;
            margin: 0 auto;
            width: var(--wrapper-width);
            height: inherit;
            .header_ {
                &_logo-box {
                    display: flex;
                    position: relative;
                    justify-content: center;
                    width: fit-content;
                    height: inherit;
                    .logo-area {
                        display: flex;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        > img {
                            display: block;
                            object-fit: contain;
                        }
                    }
                }
                &_menu-box {
                    display: flex;
                    position: relative;
                    width: 75%;
                    height: inherit;
                    align-items: center;
                    justify-content: center;
                    .header__menu-list {
                        display: flex;
                        position: relative;
                        flex-flow: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        > li {
                            display: flex;
                            position: relative;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            height: 100%;
                            width: calc(100% / 4);
                            > a {
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: inherit;
                                > span {
                                    @include sub-subject;
                                    color: var(--theme-text);
                                }
                                &:hover {
                                    > span {
                                        color: var(--grayScale-n5);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    aside {
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 100;
        transition: var(--transition-normal) cubic-bezier(0, 0, 0.2, 1);
        .quick-sidebar {
            width: fit-content;
            .quick-sidebar {
                // 메뉴 리스트
                &__menu {
                    @include mini-text-center;
                    display: flex;
                    flex-flow: column;
                    color: var(--grayScale-n1);
                    .qMenu-toggle {
                        display: none;
                    }
                    .qMenu-label {
                        @include set-icon;
                        order: 2;
                        cursor: pointer;
                        background-image: url(../icon/tailed-0.gif);
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: map-get($map: $qMenu-gap, $key: updown-gap);
                        z-index: 10;
                    }
                    .qMenu-toggle:checked ~ .quick-sidebar__menu-list {
                        display: flex;
                        .quick-menu {
                            position: relative;
                            top: unset;
                            transform: unset;
                        }
                    }
                    &-list {
                        order: 1;
                        display: none;
                        position: relative;
                        flex-flow: column;
                        align-items: center;
                        .quick-menu {
                            @include set-icon;
                            display: flex;
                            position: absolute;
                            flex-flow: column;
                            align-items: center;
                            margin: map-get($map: $qMenu-gap, $key: updown-gap);
                            transition: var(--normal-speed);
                            &:nth-of-type(1){
                                background-color: var(--tailed-n1);
                            }                    
                            &:nth-of-type(2){
                                background-color: var(--tailed-n2);
                            }
                            &:nth-of-type(3){
                                background-color: var(--tailed-n3);
                            }
                            &:nth-of-type(4){
                                background-color: var(--tailed-n4);
                            }
                            &:nth-of-type(5){
                                background-color: var(--tailed-n5);
                            }
                            &__btn {
                                display: flex;
                                flex-flow: column;
                                align-items: center;
                                position: relative;
                                img {
                                    @include set-icon;
                                    position: relative;
                                    z-index: 2;
                                    transition: var(--normal-speed);
                                }
                                span {
                                    // opacity: 0;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    transition: opacity var(--normal-speed) 0s;
                                }
                            }
                            &__btn:hover {
                                img {
                                    transform: rotateX(-90deg);
                                }
                                span {
                                    opacity: 1;
                                    transition: opacity var(--normal-speed) var(--fast-speed);
                                }
                            }
                        }
                    }
                }
                // 탑 버튼
                &__top {
                    @include flex-center;
                    padding: map-get($map: $qMenu-gap, $key: updown-gap);
                    .qTop-toggle {
                        display: flex;
                        position: relative;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;
                        width: 75%;
                        height: 6vmin;
                        padding: map-get($map: $qMenu-gap, $key: updown-gap);
                        background-color: var(--grayScale-n5);
                        border: 0.0625vmin solid var(--grayScale-n3);
                        border-radius: 1vmin;
                        span {
                            @include normal-text-center;
                            color: var(--grayScale-n2);
                            &::before {
                                content: '';
                                display: block;
                                rotate: 180deg;
                                height: var(--normal-text-size);                            
                                margin: 0 auto;
                                background-color: var(--grayScale-n2);
                                mask: url(../icon/top-btn.svg) no-repeat center;
                                -webkit-mask: url(../icon/top-btn.svg) no-repeat center;
                            }
                        }
                    }
                }
            }
        }
    }
    #portfolio {
        @include flex-center;
        flex-flow: column;
        width: 100%;
        height: auto;
        overflow: hidden;
        section {
            display: flex;
            position: relative;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background-color: var(--grayScale-n1);
            color: var(--grayScale-n5);
            border-bottom: 1px solid var(--theme-text);
            .wrap {
                position: relative;
                margin: 0 auto;
                width: var(--wrapper-width);
                h1 {
                    @include main-title;
                }
            }
            &.profile {
                flex-flow: column;
                h2 {
                    @include sub-title;
                    line-height: 2;
                }
                .article-box {
                    display: flex;
                    flex-flow: row;
                    position: relative;
                    width: 100%;
                    height: 75%;
                    border: 1px solid var(--theme-text);
                    overflow: hidden;
                    .about-box {
                        display: flex;
                        flex-flow: column;
                        position: relative;
                        justify-content: center;
                        padding-left: 4%;
                        margin: 0 auto;
                        width: map-get($map: $profile-divide, $key: about-width);
                        height: 100%;
                        > img {
                            width: 50%;
                        }                    
                        .about-name {
                            strong {
                                @include strong;
                                display: inline-block;
                            }
                            span {
                                @include sub-tag;
                                color: var(--theme-text);
                                margin: 0% 2%;
                            }
                        }
                        // 개인정보
                        .about-info ul li span{
                            &:nth-of-type(1) {
                                @include sub-subject;
                                display: inline-block;
                                width: 20%;
                                margin: 0% 2%;
                            }
                            &:nth-of-type(2) {
                                @include sub-description;
                                color: var(--theme-text);
                            }
                        }
                    }
                    .history-box {
                        position: relative;
                        border: 1px solid var(--theme-text);
                        width: map-get($map: $profile-divide, $key: history-width);
                        height: 80vmin;
                        overflow-y: scroll;
                        .resume-divider {
                            margin: 0;
                        }
                        &::-webkit-scrollbar {
                            width: 1vmin; /* 스크롤바의 너비 */
                        }
                        &::-webkit-scrollbar-thumb {
                            height: 30%; /* 스크롤바의 길이 */
                            background-color: var(--theme-main);
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-track {
                            background-color: var(--theme-text-op);
                        }
                        .experience-list,
                        .education-list {
                            display: grid;
                            position: relative;
                            width: 100%;
                            row-gap: 1vmin;
                            padding: 1%;
                            > li {
                                display: grid;
                                grid-template-rows: repeat(2, 1fr);
                                grid-template-columns: repeat(4, 1fr);
                                width: inherit;
                                span {
                                    padding: 0.5%;
                                    &:nth-of-type(1) { // 기간
                                        @include sub-tag;
                                        grid-area: 1 / 1 / 2 / 4;
                                    }              
                                    &:nth-of-type(2) { // 기관
                                        @include flex-center;
                                        @include small-description;
                                        position: relative;
                                        text-align: center;
                                        grid-area: 1 / 4 / 3 / 6;
                                    }
                                    &:nth-of-type(2)::after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        height: 75%;
                                        width: 100%;
                                        border-left: 0.1px solid var(--theme-text-op);
                                    }
                                    &:nth-of-type(3) { // 내용
                                        @include sub-description;
                                        grid-area: 2 / 1 / 3 / 4;                                    
                                        color: var(--theme-text);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.web-publishing {
                background-image: url(../images/publishing-1.gif);
                background-repeat: no-repeat;
                background-size: cover;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--blackLayer-opacity);
                }
                .slide-box {
                    @include flex-center;
                    @include contentBox-size;
                    // background-color: var(--theme-text);
                    .project-list {
                        display: flex;
                        flex-flow: row nowrap;
                        border: 1px solid var(--grayScale-n2);
                        > li {
                            > ul {
                                width: auto;
                                height: 8vmin;
                                display: flex;
                                flex-flow: row;
                                align-items: center;
                                > li {
                                    --window-ml: 30%;
                                    --window-mt: 25%;
                                    --window-mb: 75%;
                                    --window-mr: 70%;
                                    clip-path: polygon(
                                        0% 0%,
                                        0% 100%,
                                        var(--window-ml) 100%,
                                        var(--window-ml) var(--window-mt),
                                        var(--window-mr) var(--window-mt),
                                        var(--window-mr) var(--window-mb),
                                        var(--window-ml) var(--window-mb),
                                        var(--window-ml) 100%,
                                        100% 100%,
                                        100% 0%
                                    );
                                    width: 100%;
                                    height: 100%;
                                    background-color: var(--grayScale-n1);
                                    box-shadow: 0px -1vmax 0px 1vmax var(--grayScale-n1);
                                }
                            }
                            .project-item {
                                @include wp-project-box;
                                display: flex;
                                flex-flow: column;
                                align-items: center;
                                background-color: var(--grayScale-n2);
                                border: 1vmin solid var(--grayScale-n1);
                                border-top: 0;
                                border-bottom: 0;
                                > span {
                                    width: 100%;
                                    display: flex;
                                    position: relative;
                                    flex-flow: column;
                                    background-color: var(--grayScale-n1);
                                    &:nth-of-type(1) {
                                        justify-content: center;
                                        > img {
                                            width: 100%;
                                            height: auto;
                                        }
                                    }
                                    &:nth-of-type(2) {
                                        padding: 1%;
                                        > h3 {
                                            @include subject-title;
                                        }
                                        > p {
                                            @include sub-tag;
                                            width: 100%;
                                            height: auto;
                                            color: var(--theme-text);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.design {
                .slide-box {
                    @include flex-center;
                    @include contentBox-size;
                    .project-list {
                        display: flex;
                        flex-flow: row nowrap;
                        width: fit-content;
                        li {
                            margin: auto 1%;
                            .project-item {
                                @include dg-project-box;
                                background-color: var(--theme-text);
                                > span {
                                    width: 100%;
                                    display: flex;
                                    position: relative;
                                    flex-flow: column;
                                    background-color: var(--grayScale-n1);
                                    &:nth-of-type(1) {
                                        padding: 1%;
                                        > h3 {
                                            @include subject-title;
                                        }
                                        > p {
                                            @include sub-tag;
                                            width: 100%;
                                            height: auto;
                                        }
                                    }
                                    &:nth-of-type(2) {
                                        > img {
                                            width: 100%;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.skill {
                .skill-box {
                    @include contentBox-size;
                    .skill-list {
                        display: flex;
                        position: relative;
                        flex-flow: column;
                        align-items: center;
                        justify-content: space-evenly;
                        height: 100%;
                        li {
                            display: flex;
                            position: relative;
                            flex-flow: row;
                            width: 90%;
                            height: 5vmin;
                            margin: 0.5vmin 0;
                            overflow: hidden;
                            .skill-badge {
                                z-index: 1;
                            }
                            .skill-level {
                                position: absolute;
                                left: 0.2vmin;
                                width: 85%;
                                height: 100%;                            
                                &__progress{
                                    position: absolute;
                                    height: 100%;
                                    width: 0%;
                                    border-top-right-radius: 1.5vmin;
                                    border-bottom-right-radius: 1.5vmin;
                                    transition: 2s;
                                }
                            }
                            &:nth-of-type(1) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: html5);
                            }
                            &:nth-of-type(2) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: css3);
                            }
                            &:nth-of-type(3) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: sass);
                            }
                            &:nth-of-type(4) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: javascript);
                            }
                            &:nth-of-type(5) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: react);
                            }
                            &:nth-of-type(6) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: jquery);
                            }
                            &:nth-of-type(7) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: python);
                            }
                            &:nth-of-type(8) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: photoshop);
                            }
                            &:nth-of-type(9) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: illustrator);
                            }
                            &:nth-of-type(10) .skill-level__progress {
                                background: map-get($map: $skill-color, $key: figma);
                            }
                            .skill-percent {
                                display: flex;
                                position: absolute;
                                align-items: center;
                                right: 0;
                                color: var(--grayScale-n5);                            
                                height: inherit;
                                width: 15%;
                                &__binder {
                                    @include subject-title;
                                    display: flex;
                                    justify-content: flex-end;
                                    width: 50%;
                                    text-shadow: 0.5px 0.5px 0 var(--grayScale-n2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Skill 시작 -------------------------------------------------------------------------------- */





/* Skill 끝 -------------------------------------------------------------------------------- */